/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Global */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

*:focus {
    outline: 2px dotted #7296ec;
    outline-offset: 2px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
    height: 100%;
}

/* Container */

.container {
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

/* Header */

.site-header {
    margin-bottom: 70px;
}

.site-header-top {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.site-header-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-logo {
    padding: 9px 6px;
    background-color: #fff;
    margin-right: 35px;
    border-radius: 7px;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
}

.currency {
    margin-right: auto;
}

.correcy-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.correcy-item:not(:last-child) {
    margin-right: 25px;
}

.currency-icon {
    font-weight: 700;
    color: #2959ce;
}

/* Global search */

.global-search {
    margin-right: 25px;
}

.global-input {
    border-color: transparent;
    border-radius: 60px;
    height: 35px;
    padding: 9px 9px 9px 41px;
}

.language-toogle {
    background-color: #dce6ff;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 39px;
    margin-right: 25px;
}

.language-toogle-item {
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: #ababab;
    line-height: 30px;
    font-size: 13px;
}

.language-toogle-item-active {
    background-color: #fff;
    color: #000000;
    border-radius: 50%;
}

/* Main button */

.button {
    font-weight: 500;
    text-decoration: none;
    padding: 11px 18px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid transparent;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.button-primary {
    background-color: #7296ec;
}

.button-primary:hover {
    opacity: 0.8;
    border-color: #7296ec;
    background-color: #fff;
    color: #7296ec;
}

/* Navbar */

.sitenav {
    border-bottom: 1px solid #d1d1d1;
    border-top: 16px;
    padding-bottom: 16px;
}

.sitenav-list {
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.siteanv-item:not(:last-child) {
    margin-right: 34px;
}

.siteanv-item {
    margin-top: 4px;
    margin-bottom: 4px;
}

.sitenav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #7f7f7f;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.sitenav-link:hover {
    color: #7296ec;
    opacity: 0.8;
}

.sitenav-link:active {
    opacity: 0.6;
}

/* Main */

.hero {
    margin-bottom: 100px;
}

.new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.site-div {
    margin-right: 10px;
}

.main-heading {
    margin: 0;
    margin-bottom: 20px;
    width: 173px;
    height: 28px;
    font-family: "Rubik" sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.global-seaarch {
    display: inline;
}

.global {
    margin-bottom: 10px;
    margin-right: 6px;
    width: 343px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.gloobal {
    width: 696px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.globall {
    width: 696px;
    padding: 18px 18px 143px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.hero-div {
    background-color: #f6f6f6;
    padding: 20px 10px 20px 25px;
    border-radius: 10px;
}

.hero-heding {
    margin: 0;
    margin-bottom: 7px;
    font-family: "Rubik" sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.rectangle {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 444px;
}

.buttonn {
    font-family: "Rubik" sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 11px 18px;
    color: #fff;
    border-radius: 10px;
    border: 2px solid transparent;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    margin-left: 550px;
}

/* Footer */

.second {
    background-color: #7297ef;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-img {
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 15px;
}

.footer-img:hover {
    opacity: 0.8;
}

.footer-img:active {
    opacity: 0.6;
}

.ttext {
    margin-right: 203px;
    margin-bottom: 71px;
    width: 229px;
    height: 95px;
    font-size: 12px;
    line-height: 19px;
}

.site-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.site-footer-list {
    list-style: none;
}

.site-footer-item:not(:last-child) {
    margin-bottom: 20px;
}

.site-footer-link {
    text-decoration: none;
    color: #fff;
    margin-right: 100px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.site-footer-link:hover {
    color: #f78b3b;
    opacity: 0.8;
}

.site-footer-link:active {
    opacity: 0.6;
}

.rectangle {
    margin-bottom: 20px;
}

.main-h1 {
    width: 161px;
    height: 46px;
    font-family: "Rubik" sans-serif;
    font-weight: 300;
    line-height: 23px;
    font-size: 18px;
}

.hero-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-h1 {
    margin-right: auto;
}

.main-icon {
    margin-right: 25px;
}
